* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(208, 154, 144) 35%,
    rgb(253, 221, 200)
  );
  background-size: cover;
  background-position: top;
}
